<button type="button" class="btn btn-primary" (click)="back()">
    Retour
</button>
<div class="card" *ngIf="annonce" style="width: 100%; margin: 10px">
    <div class="row no-gutters">
        <div class="col-md-12">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{annonce.name}}</li>
                <li class="list-group-item">{{annonce.date}}</li>
                <li class="list-group-item">{{annonce.size}}</li>
                <li class="list-group-item">{{annonce.analyse}}</li>
                <li class="list-group-item">
                    <div class="btn-group m-2" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-danger" (click)="deleteAnnonce()">Supprimer</button>
                      </div>
                </li>
            </ul>
        </div>
    </div>
</div>